<form>
  <h3>Update Coupon:</h3><br>
          <div class="form-group row">            
                <label for="listOfCoupons" class="col-sm-2 col-form-label">Select a Coupon:</label>
                <div class="col-sm-5">
                <select 
                    multiple 
                    name="listOfCoupons" 
                    id="listOfCoupons" 
                    class="form-control">
                        <option 
                            (click)="setCoupon(c)"
                            *ngFor="let c of _coupons" 
                            [value]="c.id">
                                {{ c.title }}
                        </option>
                </select>
            </div>
          </div>
          
    <div class="form-group row">
          <label for="comment" class="col-sm-2 col-form-label">Enter New EndDate:</label>
          <div class="col-sm-3">
          <input name="newCouponPasswordTXT" type="date" class="form-control" onfocus="this.value=''" [(ngModel)]="couponToUpdate.endDate" />
        </div>
    </div>
    <div class="form-group row">
          <label for="comment" class="col-sm-2 col-form-label">Enter New Price:</label>
          <div class="col-sm-3">
          <input name="newCouponEmailTXT" type="number" class="form-control" onfocus="this.value=''" [(ngModel)]="couponToUpdate.price" />
        </div>
    </div>
  
  <div class="col-sm-3">
    <button class="btn btn-primary" (click)="updateCoupon()" >Update Now!</button>
  </div>
  </form>
