<h3>Get Coupons by Date</h3><br>    

<div class="table-responsive">
  <form>
    <div class="form-group">        
                    <div class="col-sm-3 ">
                      <label for="comment">Enter Date:</label>
                      <input name="couponIdTXT" type="Date" class="form-control" [(ngModel)]="couponToGet.endDate" />
                    </div>      
    </div><br>
    <div class="col-sm-3">
      <p><button 
          class="btn btn-primary" 
          (click)="buttonClickedGetCouponByDate()"
          [disabled]="couponToGet.endDate == null">
          Get Coupons By Date
          </button>
      </p>
    </div>
  </form><br>
      
    <table class="table table-striped table-bordered" border="1">
      <tr>
        <th>#</th>
        <th>Coupon Title</th>
        <th>Coupon StartDate</th>
        <th>Coupon EndDate</th>
        <th>Coupon Amount</th>
        <th>Coupon Type</th>
        <th>Coupon Message</th>
        <th>Coupon Price</th>
        <th>Coupon Image</th>     
      </tr>
      <tr *ngFor="let c of _coupons">
        <td>{{c.id}}</td>
        <td>{{c.title}}</td>
        <td>{{c.startDate | date:"dd/MM/yy"}}</td>
        <td>{{c.endDate | date:"dd/MM/yy"}}</td>
        <td>{{c.amount}}</td>
        <td>{{c.type}}</td>
        <td>{{c.message}}</td>
        <td>{{c.price | currency: 'USD' }}</td>
        <td><img class="card-img-top" src="{{ c.image }}" alt="Card image cap"></td>
      </tr>
    </table><br>